{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/item_list.css' %}" />
{% endblock %}

{% block content %}
  <h1>Items</h1>
  <a href="{% url 'item-create' %}?next={{ request.path }}" class="btn confirm">New Item</a>
  {% if item_list.count %}
    <ul class="flex-row-wrap">
      {% for item in item_list %}
        <a href="{% url 'item-detail' item.pk %}">
          <li class="card">
            {% if item.image %}
              <img src="{{ item.image }}" alt="Image of {{ item.image }}" />
            {% endif %}
            <h2>
              {% if item.name|length > 15 %}
                {{ item.name|slice:':15' }}...
              {% else %}
                {{ item.name }}
              {% endif %}
            </h2>
            {% if item.purchase_locations.all.count %}
              <div class="flex-row-wrap">
                <p>
                  <small>{{ item.purchase_locations.all|join_names:', ' }}</small>
                </p>
              </div>
            {% endif %}
          </li>
        </a>
      {% endfor %}
    </ul>
  {% else %}
    <p>{{ item_list.count }} items</p>
  {% endif %}
{% endblock %}
