{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/pantry_form.css' %}}" />
{% endblock %}

{% block content %}
  <div class="page-header flex-center">
    {% if pantry %}
      <h1>Edit {{ pantry.name }}</h1>
    {% else %}
      <h1>Create a Pantry</h1>
    {% endif %}
  </div>

  <form action="" method="post" class="form flex-center">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <button type="submit" class="btn submit">Submit</button>
  </form>
{% endblock %}
