{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/pantry_form.css' %}" />
{% endblock %}

{% block content %}
  <div class="page-header flex-center">
    {% if pantry %}
      <h1>Edit: {{ pantry.name }}</h1>
    {% else %}
      <h1>Create a Pantry</h1>
    {% endif %}
  </div>

  <form action="" method="post" class="form flex-center">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <div class="actions">
      {% if pantry %}
      <a href="{% url 'pantry-detail' pantry.id %}" class="btn secondary">Cancel</a>
      <button type="submit" class="btn confirm">Update</button>
      {% else %}
      <a href="{% url 'pantry-index' %}" class="btn secondary">Cancel</a>
        <button type="submit" class="btn confirm">Create</button>
      {% endif %}
    </div>
  </form>
{% endblock %}
