{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/pantry_list.css' %}" />
{% endblock %}

{% block content %}
  <a href="{% url 'pantry-create' %}" style="font-size: larger;">New Pantry</a>
  <h2>Pantries</h2>
  {% if pantry_list.count %}
    <ul>
      {% for pantry in pantry_list %}
        <li>
          <a href="{% url 'pantry-detail' pantry.pk %}">{{ pantry.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h1>No Pantries retrieved</h1>
  {% endif %}
{% endblock %}
