{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/pantry_detail.css' %}" />
{% endblock %}

{% block content %}
  {% if pantry and user == pantry.owner %}
    <h1>{{ pantry.name }}</h1>
    <div class="flex-line">
      <form action="{% url 'pantry-update' pantry.pk %}" method="get">
        <button type="submit" class="btn">Edit</button>
      </form>
      <form action="{% url 'pantry-delete' pantry.pk %}">
        <button type="submit" class="btn warn">Delete</button>
      </form>
    </div>
    <div class="pantry-display">
      {% if pantry.items.all %}
        <ul class="pantry-item-list flex-row-wrap">
          {% for pantryitem in pantry.items.all %}
            <a href="{% url 'item-update' pantryitem.item.pk %}?next={{ request.path }}">
            {% comment %} <a href="{% url 'pantry-base-item-update' pantry.pk pantryitem.item.pk %}"> {% endcomment %}
              <li class="card">
                {% if pantryitem.item.image %}
                  <img src="{{ pantryitem.item.image }}" alt="Image of {{ pantryitem.item.name }}" />
                {% endif %}
                <h3>{{ pantryitem.item.name }}</h3>
                {% if pantryitem.quanity == 1 %}
                  Qty. {{ pantryitem.quantity }} {{ pantryitem.unit }}
                {% else %}
                  Qty. {{ pantryitem.quantity }} {{ pantryitem.unit }}s
                {% endif %}
              </li>
            </a>
          {% endfor %}
        </ul>
      {% endif %}
      {% if pantry.items.all.count == 1 %}
        <p>{{ pantry.items.all.count }} item</p>
      {% else %}
        <p>{{ pantry.items.all.count }} items</p>
      {% endif %}
    </div>
  {% else %}
    <h1>No Pantry at this address</h1>
  {% endif %}
{% endblock %}
