{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>ReStockr</title>
    {% block head %}

    {% endblock %}
  </head>
  <body>
    <header>
      <div class="image-container-v logo">
        <a href="{% url 'home' %}">
          <img src="{% static 'images/pantry-wht.svg' %}" alt="Image of a Cupboard" />
        </a>
      </div>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'pantry-index' %}">Pantries</a>
            </li>
            <li>
              <a href="{% url 'item-index' %}">Items</a>
              {% comment %} <a href="#">Items</a> {% endcomment %}
            </li>
            {% if user.is_superuser %}
              <li>
                <a href="{% url 'purchase-locations' %}" style="color: aqua;">Locations</a>
              </li>
            {% endif %}
            <li>
              <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Log out</button>
              </form>
            </li>
          {% else %}
            <li>
              <a href="{% url 'home' %}">Login</a>
            </li>
            <li>
              <a href="{% url 'signup' %}">Sign Up</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main class="{% if user.is_authenticated %}page-content{% endif %} flex-center">
      {% block content %}

      {% endblock %}
    </main>
  </body>
</html>
