{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/splash.svg' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Cat Collector</title>
    {% block head %}

    {% endblock %}
  </head>
  <body>
    <header>
      <div class="logo-container">
        <p>Logo Placeholder</p>
        {% comment %} <a href="{% url 'home' %}"><img src="" alt="" /></a> {% endcomment %}
      </div>
      <nav>
        <ul>
          {% comment %} {% if user.is_authenticated %}{% endif %} {% endcomment %}
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}

      {% endblock %}
    </main>
  </body>
</html>
