{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h1 class="edu-nsw-act-cursive">ReStockr</h1>
  {% endif %}
  <div class="homepage-container">
    <div class="image-container-v homepage-image">
      <img src="https://images.stockcake.com/public/b/9/8/b98ddc60-0ed2-4e15-a47f-0f58b8cbfed9/grocery-shelf-abundance-stockcake.jpg" alt="Image of grocery store shelf" />
    </div>
    {% if not user.is_authenticated %}
      <section class="login-form-container">
        <h1 class="flex-center">Login</h1>
        <form action="{% url 'home' %}" method="post" class="login form">
          {% csrf_token %} {{ form.as_p }}
          <input type="hidden" name="next" value="{{ next }}" />
          <button type="submit" class="btn submit margin10">Login</button>
        </form>
      </section>
    {% endif %}
  </div>
  <div class="summary center-self card">
    <h2>What is ReStockr?</h2>
    <p>ReStockr is an easy-to-use pantry tracker. It can not only be used to track the inventory of your pantry, but also track where you purchased your items from. As an added bonus, any items that you mark as "out-of-stock" will be automatically added to your shopping list!</p>
  </div>
{% endblock %}
