html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 16px;
}

/* ===== Elements ===== */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  --nav-bg: rgb(49, 49, 49);
  --nav-text-color: rgb(255, 255, 255);
  --nav-bg-ff: rgba(104, 197, 248, 0.9);
  --borders: rgb(36, 116, 248) solid 2px;
  --text-color: rgb(17, 20, 17);
  --link-hover-color: rgb(16, 56, 158);
  --button-bg: rgb(245, 245, 245);
  --button-bg-hover: rgb(226, 226, 226);
  --submit: rgb(26, 128, 0);
  --warn: rgb(255, 102, 0);
  --danger: rgb(220, 20, 30);
  --secondary: rgb(57, 57, 57);
  --card-box-shadow: 5px 5px 6px -1px #aaa;
  --font-xtreme: 2.625rem;
  --font-xxl: 2.25rem;
  --font-xl: 1.5rem;
  --font-l: 1.125rem;
  --font-reg: 1rem;
  --card-border-radius: 6px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid var(--borders);
  background-color: var(--nav-bg);
  margin: 0px;
  padding: 10px;
}

img { 
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

nav {
  margin: 10px;
}

nav a:hover {
  color: var(--link-hover-color);
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

main {
  width: 100%;
  padding: 0 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

nav a, header a {
  color: var(--nav-text-color);
}

/* ===== Classes ===== */
.flex-center {
  display: flex;
  flex-direction: column;
  place-self: center;
  place-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row,
.flex-line {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  max-width: 150px;
  box-shadow: var(--card-box-shadow);
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  box-shadow: var(--card-box-shadow);
  border-radius: 10px;
  gap: 10px;
}

.page-content {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.fill-height {
  display: block;
  height: 100%;
  aspect-ratio: 1/1;
}

.btn {
  font-size: var(--font-reg);
  padding: 8px 16px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  background-color: var(--button-bg);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;
}

.btn:hover,
.abtn-small:hover {
  background-color: var(--button-bg-hover);
}

.basic {
  color: black;
  border-color: black;
}

.secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.confirm {
  color: var(--submit);
  border-color: var(--submit);
}

.warn {
  color: var(--warn);
  border-color: var(--warn);
}

.danger {
  color: var(--danger);
  border-color: var(--danger);
}

.abtn { /* <a> tag styled as button */
  background: white;
  text-decoration: none;
  font-size: var(--font-reg);
  /* padding: 4px 8px; */
  padding: 8px 16px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  background-color: var(--button-bg);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
}

.abtn-small {
  aspect-ratio: 2/1;
  height: 10px;
}

.btn-small {
  aspect-ratio: 2/1;
  height: 30px;
}

/* ===== Ids ===== */
#logout-form button {
  text-decoration: none;
  /* color: var(--text-color); */
  color: white;
  font-weight: 600;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

#logout-form button:hover {
  color: var(--link-hover-color);
}
